__pycache__/
.vscode/
.ipynb_checkpoints/
results/
vscode/
res/
runs/
logs/
backup/
lightning_logs/
prev_runs/
data/
narvi_runs/
tmp/
tb_logs/
datasets/dtd
datasets/mvtec
**/*.ckpt
**/*.pth
**/*.pkl
**/*.png
**/*.jpg
*.ckpt
*.pth
*.pkl
*.json
*.txt
*.png
*.jpg
*.sh
**/*.zip
**/__pycache__
*.ipynb
*.avi